[Desktop Entry]
Name=Spritz Package Manager
Name[zh_TW]=Spritz
Comment=Entropy Graphical Package Manager
Comment[zh_TW]=Spritz
Categories=Application;System;
Icon=/usr/share/pixmaps/spritz/spritz-icon.png
Exec=/usr/bin/spritz
Type=Application
Terminal=false
Encoding=UTF-8
X-Desktop-File-Install-Version=0.10
