[Desktop Entry]
Encoding=UTF-8
Name=Spritz Package Manager
Comment=Entropy Graphical Package Manager
Categories=Application;System;Settings
Icon=/usr/share/pixmaps/spritz/spritz-icon.png
Exec=spritz %U
Type=Application
Terminal=false
MimeType=application/x-tar;application/x-tgz;application/x-tbz;application/x-tbz2;application/x-tarz
