[Desktop Entry]
Encoding=UTF-8
Name=Entropy Development Repository Manager
Comment=Entropy Graphical Repository Manager
Categories=Application;Development
Icon=/usr/share/pixmaps/sulfur/sulfur-icon.png
Exec=entropy-repo-manager %U
Type=Application
Terminal=false
