[Desktop Entry]
Encoding=UTF-8
MimeType=application/entropy-package;application/entropy-webinstall
Comment=Entropy Graphical Package Manager
Icon=/usr/share/pixmaps/sulfur/sulfur-icon.png
Type=MimeType
Patterns=*.tbz2 *.etp
Hidden=false
X-KDE-AutoEmbed=false
InitialPreference=100
