[Desktop Entry]
Encoding=UTF-8
Name=Entropy Store
Comment=Install Sabayon Applications
Categories=Application;System;Settings
Icon=/usr/share/pixmaps/sulfur/sulfur-icon.png
Exec=sulfur %U
Type=Application
Terminal=false
MimeType=application/entropy-package;application/entropy-webinstall
InitialPreference=100
