[Desktop Entry]
Encoding=UTF-8
Name=Sulfur
Comment=Entropy Graphical Package Manager
Categories=Application;System;Settings
Icon=/usr/share/pixmaps/sulfur/sulfur-icon.png
Exec=sulfur %U
Type=Application
Terminal=false
MimeType=application/x-tbz2
InitialPreference=100
