# Project Entropy 1.0 activator configuration file

#
# Branches configuration:
# branches|<branch> <branch> <branch>
# 
#
# Specify here the currently maintained branches
#
#   example:
#   branches|3.5 3.6
#
branches|3.5

#
# Packages expiration days:
# expiration-days|<number>
#
#
# Number of days after a binary package will be removed from its belonging repository if not available anymore (old files)
#
#   example:
#   expiration-days|15
#
# expiration-days|<internal value>


#
#  syntax for officialserverrepositoryid:
#
#    officialserverrepositoryid: Repository identifier for the official main distribution repository
#    officialserverrepositoryid|<repository identifier>
#
officialserverrepositoryid|sabayonlinux.org

#
#  syntax for repositories:
#
#    repository: server-side repositories configuration
#    note: default repository setting is in repositories.conf (officialrepositoryid)
#|   repository|repository_id|repository description|<ftp upload URI 1> <2>|<http handlers uri>|<remote server hostname>#<service port>,<ssl service port>
#
#    example:
#|       repository|sabayonlinux.org|Sabayon Linux Official Repository|ftp://user:pass@111.111.111.111/|http://svn.sabayonlinux.org/entropy|svn.sabayonlinux.org#1026,1027
#
# repository|
