# Project Entropy 1.0 activator configuration file

#
# Branches configuration:
# branches|<branch> <branch> <branch>
# 
#
# Specify here the currently maintained branches
#
#   example:
#   branches|3.5 2008
#
branches|3.5 2008


#
#  syntax for repositories:
#
#    repository: server-side repositories configuration
#    note: default repository setting is in repositories.conf (officialrepositoryid)
#|   repository|repository_id|repository description|<ftp upload URI 1> <ftp upload URI 2> <ftp upload URI 3> ...
#
#    example:
#|       repository|sabayonlinux.org|Sabayon Linux Official Repository|ftp://user:pass@111.111.111.111/ ... ...
#
# repository|