# Project Entropy 1.0 activator configuration file

#
# Packages expiration days:
# expiration-days|<number>
#
#
# Number of days after a binary package will be removed from its belonging
# repository if not available anymore (old files)
#
#   example:
#   expiration-days|15
#
# expiration-days|<internal value>


#
#  syntax for default-repository:
#
#    default-repository: Currently working repository identifier (if you have
#        more than one server-side repository, this indicates the one which
#        Entropy Server is authorized to work on)
#    default-repository|<repository identifier>
#
default-repository|sabayonlinux.org

#
#  syntax for repository:
#
#    repository: server-side repositories configuration
#    Currently supported upload URI protocols are ftp:// and ssh://
#      => repository|<repository_id>|<repository description>|<upload URI 1> <2>[|<EAPI3 remote server hostname>#<service port>,<ssl service port>]
#    (EAPI3 part is optional)
#
#    PLEASE NOTE: the first repository listed is going to be considered the
#                 "base" repository
#
#    example:
#      => repository|myserverrepo|My Server Repository|ftp://user:pass@111.111.111.111/ ssh://username@host:~user/path:port|hostname.tld#1026,1027
#
# repository|

# Database format used by EAPI1 packages:
# bz2 or gz
database-format|bz2

#
#  syntax for syncspeedlimit:
#
#    syncspeedlimit: If you need a way to limit sync speed (upload/download),
#                    this is the option you were looking for
#    syncspeedlimit|<maximum allowed speed in kb/sec>
#
#    example:
#    syncspeedlimit|30
#
# syncspeedlimit|

# Server side LC_*, LANG, LANGUAGE default settings.
# This setting is used by entropy.qa to validate packages and avoid weird
# things happening. Please specify here a LC_*, LANG, LANGUAGE value that
# all your produced distributions support (advice: en_US). There is no need
# for extra stuff like @UTF-8. If you fail to do so and your L* value differs
# from the one here, Entropy will bitch you at QA checks and uploading packages
# will be impossible. You can concatenate (space separated) more than one value.
# server-basic-languages|en_US C

# Disabled EAPIs (comma separated).
# By default, all current EAPI implementations are supported (1, 2, 3).
# This means that when uploading/downloading database files, a lot of
# redoundant transfers take place. You can decide to disable EAPI1, EAPI2, EAPI3
# or 2 of them. You cannot disable all of them, in this case this setting will
# be ignored.
#
# WARNING: USE-AT-YOUR-OWN-RISK. I mean, use it with brain_on(): entropy clients
# tries to fetch repositories starting from the highest EAPI supported and scale
# down to 2 and 1 if error occurs. So, if you are disabling EAPI3 and 2 and want
# to keep EAPI1, make sure to remove "unmaintained" files from your remote mirror.
# A fast way to achieve this is removing the whole remote database dir and re-upload
# everything (backup first!).
# disabled-eapis|1,2

# WARNING: E X P E R I M E N T A L
# Automatic multiple packages support through expiration.
# If you enable this option, your repository will feature multiple package
# versions support inside the same scope (key + slot + tag).
# It is disabled by default.
# To enable this feature you need to explicitly tell Entropy the packages
# that can be kept by creating a file in the repository database dir called:
# "packages.db.fatscope", listing atoms one per line. Wildcard char (*) can
# be used to enable the feature on all packages.
# ATTENTION !!!: still, there is one unsolved "bad behaviour" for now.
# Due to the nature of OSS libraries (breaking API/ABI every odd day),
# YOU are responsible of potential older packages inconsistencies due to this.
# expiration-based-scope|disable


# Online RSS support to track changes of the things happened on the database.
# Here are basic settings, like the ability to enable/disable this feature or
# set the name of the feed.
# Feed will be uploaded on the same packages.db.[bz2|gz] directory
#
# syntax for rss-feed:
#    rss-feed|<enable/disable>
#
rss-feed|enable

# syntax for rss-name:
#    rss-name|<name.rss>
#
rss-name|packages.rss

# This option allows to specify a base URL for the <guid> and <link> RSS entry.
# If you have the entropy web portal online, just add its path to index.py which
# will be wrapped to add ?search=...
# syntax for rss-base-url:
#    rss-base-url|<URL>
#
rss-base-url|http://packages.sabayonlinux.org/
# This is just the website url that will be added to the RSS
rss-website-url|http://www.sabayonlinux.org/

# Maximum RSS entries, oldest will be dropped
# syntax for max-rss-entries:
#    max-rss-entries|<number>
#
max-rss-entries|10000

# Maximum RSS entries for the light version, oldest will be dropped
# syntax for max-rss-light-entries:
#    max-rss-light-entries|<number>
#
# max-rss-light-entries|100

# RSS Editor E-mail (corresponding to managingEditor tag)
# syntax for max-rss-entries:
#    managing-editor|<email>
#
managing-editor|
