-----BEGIN CERTIFICATE-----
MIID4zCCA0ygAwIBAgIJAJ/rPCvLbQ5vMA0GCSqGSIb3DQEBBQUAMIGoMQswCQYD
VQQGEwJJVDEOMAwGA1UECBMFSXRhbHkxEjAQBgNVBAcTCUhlbGxvdG93bjEWMBQG
A1UEChMNU2FiYXlvbiBMaW51eDEQMA4GA1UECxMHRW50cm9weTEkMCIGA1UEAxMb
U2FiYXlvbiBMaW51eCBFbnRyb3B5IFN0YWNrMSUwIwYJKoZIhvcNAQkBFhZseG5h
eUBzYWJheW9ubGludXgub3JnMB4XDTA4MDMzMTExMDIzM1oXDTA5MDMzMTExMDIz
M1owgagxCzAJBgNVBAYTAklUMQ4wDAYDVQQIEwVJdGFseTESMBAGA1UEBxMJSGVs
bG90b3duMRYwFAYDVQQKEw1TYWJheW9uIExpbnV4MRAwDgYDVQQLEwdFbnRyb3B5
MSQwIgYDVQQDExtTYWJheW9uIExpbnV4IEVudHJvcHkgU3RhY2sxJTAjBgkqhkiG
9w0BCQEWFmx4bmF5QHNhYmF5b25saW51eC5vcmcwgZ8wDQYJKoZIhvcNAQEBBQAD
gY0AMIGJAoGBANGK7Ft4wVFad4u/tbdj+qJavJo66O77M2YUEDCusLkcjOfGEvqT
IzEYiYiVETqZgxcIMH7FcSZdJVjf6vreok4JwCjAVZgDC1XCEkU31usvJJVj33a8
1tbWvAecscMjAFHSuQl6zguytPJUlnnT8o7Fvbq7AFEaPanRHekTiADDAgMBAAGj
ggERMIIBDTAdBgNVHQ4EFgQUSmnPIcOMmXatSEgk+wyoQyOvmV4wgd0GA1UdIwSB
1TCB0oAUSmnPIcOMmXatSEgk+wyoQyOvmV6hga6kgaswgagxCzAJBgNVBAYTAklU
MQ4wDAYDVQQIEwVJdGFseTESMBAGA1UEBxMJSGVsbG90b3duMRYwFAYDVQQKEw1T
YWJheW9uIExpbnV4MRAwDgYDVQQLEwdFbnRyb3B5MSQwIgYDVQQDExtTYWJheW9u
IExpbnV4IEVudHJvcHkgU3RhY2sxJTAjBgkqhkiG9w0BCQEWFmx4bmF5QHNhYmF5
b25saW51eC5vcmeCCQCf6zwry20ObzAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEB
BQUAA4GBAKKbAoVXgz38UjktOoVXt/1yv3+i57RuCXRvZ7ndx0IeKh9eGD7+TXaj
NhLCTH5Iz+5jduOpQYnKDfZYUhzFAMX5nlC4XhddL+qw5NUOzUJjzWTLgY5fOC1x
BY8Wuqqyv9Iym/lvCpXTP9B8/Xy2LHBtzxFozAtO+Hr7IydwUoe1
-----END CERTIFICATE-----
