[Desktop Entry]
Name=Magneto Updates Notifier
Comment=Magneto is the Entropy Updates Notification Applet
Icon=magneto
Exec=magneto --startup-delay=30
Type=Application
Terminal=false
Categories=System;
