# Entropy Repository configuration file.
#
#  This is an example of the new syntax (with a complete listing
#  of the supported arguments):
#
#  [repository-id]
#  desc = Sabayon Linux Official Testing Repository
#  repo = http://pkg.sabayon.org
#  repo = http://pkg.repo.sabayon.org
#  pkg = http://pkg.sabayon.org
#  pkg = http://dl.sabayon.org/entropy
#  enabled = <true/false>
#
#  [repository-id]
#  desc = This statement will be ignored.
#  repo = This url will be ignored.
#  pkg = http://some.more.mirror.org/entropy
#  pkg = http://some.more.mirror.net/entropy
#
#  As you can see, multiple statements for the same repository
#  are allowed. However, only the first desc = statement will be
#  considered, while there can be as many pkg = and repo = as you
#  want.
#
#  Statements description:
#  - "desc": stands for description, the repository name description.
#  - "repo": the repository database URL string, plus other parameters
#            as supported in the previous configuration file syntax:
#            <db url prefix>[#<compression>].
#  - "pkg": the repository packages URL string. This must be a valid URL.
#           The supported protocols are those supported by entropy.fetchers.
#  - "enabled": if set, its value can be either "true" or "false". The default
#               value is "true". It indicates if a repository is configured
#               but currently disabled or enabled. Please take into account
#               that config files in /etc/entropy/repositories.conf.d/ starting
#               with "_" are considered to contain disabled repositories. This
#               is just provided for convienence.

# Experimental Sabayon repository "sabayon-limbo"
# Here you can find in-testing packages that will be merged to
# the mainline repository soon.
# You can use any mirror listed for "sabayonlinux.org"

[sabayon-limbo]
desc = Sabayon Limbo Testing Repository, do not mix with sabayon-weekly, use with sabayonlinux.org
repo = http://pkg.sabayon.org
# This is used as fallback if pkg.sabayon.org is not available
repo = http://pkg.repo.sabayon.org
pkg = http://dl.sabayon.org/entropy
pkg = http://ftp.nluug.nl/pub/os/Linux/distr/sabayonlinux/entropy
pkg = http://ftp.rnl.ist.utl.pt/pub/sabayon ftp://ftp.rnl.ist.utl.pt/pub/sabayon
pkg = http://mirror.internode.on.net/pub/sabayon/entropy
pkg = http://mirror.yandex.ru/sabayon/entropy
pkg = http://cross-lfs.sabayonlinux.org/entropy
pkg = http://na.mirror.garr.it/mirrors/sabayonlinux/entropy
pkg = http://mirror.de.sabayon.org/entropy
