#
#  syntax for repositories (content in square brackets not mandatory):
#
#    repository: where the available packages and its database are stored
#|    repository = repository_id|repository description|<packages mirror 1> <2>|<database uri>[,<UGC service URI>][#compression_method]
#
#    example (content in square brackets not mandatory):
#|       repository = sabayonlinux.org|Sabayon Linux Official Repository|http://pkg.sabayon.org|http://pkg.sabayon.org[,sabayon.org][#bz2]
#
# Supported protocols are: file, http, https, ftp, ftps, rsync
# Remove the initial "|" char, do not uncomment blindly,
# these are JUST EXAMPLES !!

# Sabayon Linux Official Repository
# Base source URLs, do not remove
repository = sabayonlinux.org|Sabayon Linux Official Repository|http://pkg.sabayon.org|http://pkg.sabayon.org,sabayon.org

# id-REPO, Indonesian FOSS Repository, 100Mbit/sec
repository = sabayonlinux.org||http://bali.idrepo.or.id/sabayon/entropy|
repository = sabayonlinux.org||http://madura.idrepo.or.id/sabayon/entropy|
repository = sabayonlinux.org||http://sumbawa.idrepo.or.id/sabayon/entropy|

# RIKEN Nishina Center for research support, Japan, 1Gbit/sec
repository = sabayonlinux.org||http://riksun.riken.go.jp/pub/pub/Linux/sabayon/entropy|
# Yamagata University, Japan, 1Gbit/sec
repository = sabayonlinux.org||http://ftp.yz.yamagata-u.ac.jp/pub/linux/sabayonlinux/entropy|
# KDDI R&D Laboratories Inc., Japan, 200Mbit/sec
repository = sabayonlinux.org||http://ftp.kddilabs.jp/Linux/packages/sabayonlinux/entropy|

# Silicon Hill (http://www.sh.cvut.cz), 1Gbit/sec, Czech Republic
repository = sabayonlinux.org||http://ftp.sh.cvut.cz/MIRRORS/sabayon/entropy|
# UPC Česká republika, a.s., 2Gbit/sec, Czech Republic
repository = sabayonlinux.org||http://debian.mirror.dkm.cz/sabayon/entropy|

# KLID, Denmark, 1Gbit/sec
repository = sabayonlinux.org||ftp://ftp.klid.dk/sabayonlinux/entropy|

# Free Software Network, Hungary, 1Gbit/sec
repository = sabayonlinux.org||http://ftp.fsn.hu/pub/linux/distributions/sabayon/entropy|
repository = sabayonlinux.org||rsync://ftp.fsn.hu/linux/sabayon/entropy|
repository = sabayonlinux.org||ftp://ftp.fsn.hu/pub/linux/distributions/sabayon/entropy|

# University of Crete, 1Gbit/sec, Greece
repository = sabayonlinux.org||http://ftp.cc.uoc.gr/mirrors/linux/SabayonLinux/entropy|

# Rede das Novas Licenciaturas - Instituto Superior Técnico, 1Gbit/sec, Portugal
repository = sabayonlinux.org||http://ftp.rnl.ist.utl.pt/pub/sabayon/entropy|
repository = sabayonlinux.org||ftp://ftp.rnl.ist.utl.pt/pub/sabayon/entropy|

# Freelydifferent.com, France
repository = sabayonlinux.org||http://mirror.freelydifferent.com/sabayon/entropy|

# NLUUG, Holland
repository = sabayonlinux.org||ftp://ftp.nluug.nl/pub/os/Linux/distr/sabayonlinux/entropy|
repository = sabayonlinux.org||rsync://ftp.nluug.nl/sabayonlinux/entropy|
# Surfnet, Holland
repository = sabayonlinux.org||http://ftp.surfnet.nl/pub/os/Linux/distr/sabayonlinux/entropy|
repository = sabayonlinux.org||rsync://ftp.SURFnet.nl/sabayonlinux/entropy|

# Yes Optus Mirror, Australia
# repository = sabayonlinux.org||http://mirror.optusnet.com.au/sabayon/entropy|
# repository = sabayonlinux.org||ftp://mirror.optusnet.com.au/sabayon/entropy|

# AArnet.edu/Internode, Australia
repository = sabayonlinux.org||http://mirror.internode.on.net/pub/sabayon/entropy|
repository = sabayonlinux.org||ftp://mirror.aarnet.edu.au/pub/SabayonLinux/entropy|
repository = sabayonlinux.org||rsync://mirror.aarnet.edu.au/sabayonlinux/entropy|

# Instituto Federal de Educação, Ciência e Tecnologia do Cearà, Brazil
repository = sabayonlinux.org||http://www2.itti.ifce.edu.br/sabayon/entropy|

# Universidade Federal do Parana', Brazil
repository = sabayonlinux.org||http://sabayon.c3sl.ufpr.br/entropy|
repository = sabayonlinux.org||ftp://sabayon.c3sl.ufpr.br/sabayon/entropy|
repository = sabayonlinux.org||rsync://sabayon.c3sl.ufpr.br/sabayon/entropy|

# University of Maryland LUG, 1Gbit/sec, United States
repository = sabayonlinux.org||http://mirror.umd.edu/sabayonlinux/entropy|
repository = sabayonlinux.org||rsync://mirror.umd.edu/sabayonlinux/entropy|
# Open Source Institute, Clarkson University, 300Mbit/sec, United States
repository = sabayonlinux.org||http://mirror.clarkson.edu/sabayon/entropy|
# Cross-LFS Project mirror, United States
repository = sabayonlinux.org||http://cross-lfs.sabayonlinux.org/entropy|

# GARR Network mirror, Italy
repository = sabayonlinux.org||http://na.mirror.garr.it/mirrors/sabayonlinux/entropy|

