# Entropy Repository configuration file.
#
#  This is an example of the new syntax (with a complete listing
#  of the supported arguments):
#
#  [repository-id]
#  desc = Sabayon Linux Official Testing Repository
#  repo = http://pkg.sabayon.org
#  pkg = http://pkg.sabayon.org
#  pkg = http://dl.sabayon.org/entropy
#  enabled = <true/false>
#
#  [repository-id]
#  desc = This statement will be ignored.
#  repo = This url will be ignored.
#  pkg = http://some.more.mirror.org/entropy
#  pkg = http://some.more.mirror.net/entropy
#
#  As you can see, multiple statements for the same repository
#  are allowed. However, only the first desc = and repo =
#  statements will be considered, while there can be as many pkg =
#  as you want.
#
#  Statements description:
#  - "desc": stands for description, the repository name description.
#  - "repo": the repository database URL string, plus other parameters
#            as supported in the previous configuration file syntax:
#            <db url prefix>[#<compression>].
#  - "pkg": the repository packages URL string. This must be a valid URL.
#           The supported protocols are those supported by entropy.fetchers.
#  - "enabled": if set, its value can be either "true" or "false". The default
#               value is "true". It indicates if a repository is configured
#               but currently disabled or enabled. Please take into account
#               that config files in /etc/entropy/repositories.conf.d/ starting
#               with "_" are considered to contain disabled repositories. This
#               is just provided for convienence.

[sabayonlinux.org]
desc = Sabayon Linux Official Repository
repo = http://pkg.sabayon.org
pkg = http://pkg.sabayon.org

# Sabayon Packages Continent-based Load Balancer
pkg = http://dl.sabayon.org/entropy

# id-REPO, Indonesian FOSS Repository, 100Mbit/sec
pkg = http://bali.idrepo.or.id/sabayon/entropy
pkg = http://madura.idrepo.or.id/sabayon/entropy
pkg = http://sumbawa.idrepo.or.id/sabayon/entropy

# RIKEN Nishina Center for research support, Japan, 1Gbit/sec
pkg = http://riksun.riken.go.jp/pub/pub/Linux/sabayon/entropy

# Yamagata University, Japan, 1Gbit/sec
pkg = http://ftp.yz.yamagata-u.ac.jp/pub/linux/sabayonlinux/entropy

# KDDI R&D Laboratories Inc., Japan, 200Mbit/sec
pkg = http://ftp.kddilabs.jp/Linux/packages/sabayonlinux/entropy

# Silicon Hill (http://www.sh.cvut.cz), 1Gbit/sec, Czech Republic
pkg = http://ftp.sh.cvut.cz/MIRRORS/sabayon/entropy

# UPC Česká republika, a.s., 2Gbit/sec, Czech Republic
pkg = http://debian.mirror.dkm.cz/sabayon/entropy

# KLID, Denmark, 1Gbit/sec
pkg = ftp://ftp.klid.dk/sabayonlinux/entropy

# Free Software Network, Hungary, 1Gbit/sec
pkg = http://ftp.fsn.hu/pub/linux/distributions/sabayon/entropy
# pkg = rsync://ftp.fsn.hu/linux/sabayon/entropy
# pkg = ftp://ftp.fsn.hu/pub/linux/distributions/sabayon/entropy

# University of Crete, 1Gbit/sec, Greece
pkg = http://ftp.cc.uoc.gr/mirrors/linux/SabayonLinux/entropy

# Rede das Novas Licenciaturas - Instituto Superior Técnico, 1Gbit/sec, Portugal
pkg = http://ftp.rnl.ist.utl.pt/pub/sabayon/entropy
# pkg = ftp://ftp.rnl.ist.utl.pt/pub/sabayon/entropy

# Freelydifferent.com, France
pkg = http://mirror.freelydifferent.com/sabayon/entropy

# NLUUG, Holland
pkg = ftp://ftp.nluug.nl/pub/os/Linux/distr/sabayonlinux/entropy
# pkg = rsync://ftp.nluug.nl/sabayonlinux/entropy

# Surfnet, Holland
pkg = http://ftp.surfnet.nl/pub/os/Linux/distr/sabayonlinux/entropy
# pkg = rsync://ftp.SURFnet.nl/sabayonlinux/entropy

# Internode, Australia
pkg = http://mirror.internode.on.net/pub/sabayon/entropy

# Instituto Federal de Educação, Ciência e Tecnologia do Cearà, Brazil
pkg = http://www2.itti.ifce.edu.br/sabayon/entropy

# Yandex Linux Mirror, Russian Federation
# pkg = ftp://mirror.yandex.ru/sabayon/entropy
# pkg = rsync://mirror.yandex.ru/sabayon/entropy
pkg = http://mirror.yandex.ru/sabayon/entropy

# Universidade Federal do Parana', Brazil
# pkg = ftp://sabayon.c3sl.ufpr.br/sabayon/entropy
# pkg = rsync://sabayon.c3sl.ufpr.br/sabayon/entropy
pkg = http://sabayon.c3sl.ufpr.br/entropy

# University of Maryland LUG, 1Gbit/sec, United States
# pkg = rsync://mirror.umd.edu/sabayonlinux/entropy
pkg = http://mirror.umd.edu/sabayonlinux/entropy

# Open Source Institute, Clarkson University, 300Mbit/sec, United States
pkg = http://mirror.clarkson.edu/sabayon/entropy

# Cross-LFS Project mirror, United States
pkg = http://cross-lfs.sabayonlinux.org/entropy

# GARR Network mirror, Italy
pkg = http://na.mirror.garr.it/mirrors/sabayonlinux/entropy

# Sabayon Hetzner.de Mirror, Germany
pkg = http://mirror.de.sabayon.org/entropy
